// COLORS

// primary colors

$green:       #4AD37D;
$gold:        #FF9362;
$blue:        #35ABF1;
$offwhite:    #F3F3F3;
$lightGrey:    #999999;
$white:       #FFFFFF;

// secondary colors

$darkGrey:     #2C2C2C;
$mediumGrey:   #777777;
$whiteGrey:    #DDDDDD;
$sand:         #FFEBBE;
$brown:        #998E73;
$darkBlue:     #195171;
