// Google fonts

@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,500,700|Quicksand:400,500,700|Raleway|Roboto|Open+Sans|Oxygen');

// FONTS

$raleway:     'Raleway', sans-serif;
$roboto:      'Roboto', sans-serif;
$quicksand:   'Quicksand', sans-serif;
$garamond:    'EB Garamond', sans-serif;
$openSans:    'Open Sans', sans-serif;
$oxygen:      'Oxygen', sans-serif;
