.indexContainer {
  // position: relative;
  margin-top: 90px;
  width: 100%;
}

.topSection {
  height: 480px;

  @include smallMobileScreen2 {height: 300px;};
  @include mobileScreen2 {height: 320px;};
  @include xSmallScreen2 {height: 320px};
  @include smallScreen2 {height: 400px;};
  @include smallMedScreen2 {height: 400px;};
  @include medScreen2 {height: 400px;};
  @include lgScreen2 {height: 430px;};
  background-color: $white;
  // border: 1px solid black;
}

.topSectionContentWrapper {
  position: relative;
  display: inline-block;
  overflow: hidden;
  left: 5vw;
  width: 95vw;
  height: 100%;
  @include mobileScreen2 {min-width: 400px;};
  @include xSmallScreen2 {min-width: 400px;};
  // @include smallScreen2 {border-top: 3px solid blue;};
  // @include smallMedScreen2 {border-top: 3px solid orange;};
  // @include medScreen2 {border-top: 3px solid green;};
  // @include lgScreen2 {border-top: 3px solid purple;};
  // @include XLScreen2 {border-top: 3px solid pink;};
  // @include XXLScreen2 {border-top: 3px solid black;};

  // border: 3px solid red;
}

.topSectionTextWrapper {
  position: absolute;
  float: left;
  left: 0;
  height: 100%;
  width: 70%;
  @include smallMobileScreen2 {width: 100%;};
  @include mobileScreen2 {width: calc(100% - 240px);};
  @include xSmallScreen2 {width: 90%;};
  @include smallScreen2 {width: calc(100% - 300px);};
  @include smallMedScreen2 {width: calc(100% - 385px);};
  @include medScreen2 {width: calc(100% - 410px);};
  @include lgScreen2 {width: calc(100% - 500px);};
  @include XLScreen2 {width: calc(100% - 560px);};
  @include XXLScreen2 {width: calc(100% - 600px);};
  // border: 4px solid orange;
}

.topSectionTextBox {
  @include vertical-align(absolute);
  left: 0;
  height: 60%;
  width: 100%;
  @include mobileScreen2 {position: absolute; top: 35%;};
  @include xSmallScreen2 {position: absolute; top: 35%;};

  // border: 4px solid purple;
}

.topTextSection1 {
  width: 100%;
  height: 20%;
  @include smallMobileScreen2 {height: auto; margin-bottom: 7px;};
  @include mobileScreen2 {height: auto; margin-bottom: 7px;};
  @include xSmallScreen2 {height: auto; margin-bottom: 20px;};
  @include smallScreen2 {margin-bottom: 0px;};
  @include smallMedScreen2 {margin-bottom: 5px;};
  @include medScreen2 {margin-bottom: 5px;};
  @include lgScreen2 {margin-bottom: 10px;};
  @include XLScreen2 {margin-bottom: 15px;};
  @include XXLScreen2 {margin-bottom: 20px;};
  // border: 1px solid purple;
}

.topTextSection2 {
  width: 95%;
  // border: 1px solid green;
}

.topTextSection3 {
  position: absolute;
  bottom: 1%;
  width: 100%;
  height: 10%;
  @include smallMobileScreen2 {bottom: 5%;};
  @include mobileScreen2 {bottom: 0; height: 40px;};
  @include xSmallScreen2 {bottom: 25%;};
  @include XLScreen2 {bottom: 10%;};
  @include XXLScreen2 {bottom: 10%;};
  // border: 1px solid teal;
}

.topSectionImageBox {
  position: absolute;
  overflow: hidden;
  float: right;
  right: 0;
  bottom: 0;
  width: 30%;
  height: 100%;
  @include smallMobileScreen2 {display: none;};
  @include mobileScreen2 {width: 240px;};
  @include xSmallScreen2 {display: none;};
  @include smallScreen2 {width: 300px;};
  @include smallMedScreen2 {width: 385px;};
  @include medScreen2 {width: 410px;};
  @include lgScreen2 {width: 500px;};
  @include XLScreen2 {width: 560px;};
  @include XXLScreen2 {width: 600px;};
  img {
    position: absolute;
    bottom: 0;
    width: auto;
    @include smallMobileScreen2 {right: -40%; height: 70%;};
    @include mobileScreen2 {bottom: 0; right: -55%; height: 300px;};
    @include xSmallScreen2 {right: -40%; height: 70%;};
    @include smallScreen2 {top: 15%; right: -40%; height: 85%;};
    @include smallMedScreen2 {top: 10%; right: -25%; height: 90%;};
    @include medScreen2 {right: -25%; height: 100%;};
    @include lgScreen2 {right: -20%; height: 100%;};
    @include XLScreen2 {right: -20%; height: 100%;};
    @include XXLScreen2 {right: -20%; height: 100%;};
  }
}

.sectionHouse {
  position: relative;
  width: 100%;
  background-color: $white;
  // border: 3px solid red;
}

#housebg {
  z-index: -2;
  width: 100%;
  height: auto;
  overflow: hidden;
  // border: 2px solid blue;
}

.section3V2 {
  width: 100%;
  height: auto;
  background-color: $white;
  // @include smallScreen2 {border: 3px solid blue;};
  // @include smallMedScreen2 {border: 3px solid orange;};
  // @include medScreen2 {border: 3px solid green;};
  // @include lgScreen2 {border: 3px solid purple;};
  // @include XLScreen2 {border: 3px solid pink;};
  // @include XXLScreen2 {border: 3px solid black;};
}

.section3V2ContentWrapper {
  margin-top: 30px;
  width: 100%;
  &:after {
    clear: both;
    content: "";
    display: table;
  }
  @include smallMobileScreen2 {
    margin-bottom: 10px;
  };
  @include mobileScreen2 {
    margin-bottom: 10px;
  };
  @include xSmallScreen2 {
    margin-bottom: 10px;
  };
  // border: 3px solid black;
}

.section3V2Column {
  @include span-columns(4, block-collapse);
  @include pad(0px 30px);
  @include lgScreen2 {padding: 0 60px;};
  @include XLScreen2 {padding: 0 60px;};
  @include XXLScreen2 {padding: 0 60px;};
  .section3V2ColumnTitle {
    position: relative;
    height: 40px;
    margin-bottom: 5px;
    @include smallMobileScreen2 {
      height: 25px;
      margin-bottom: 0px;
    };
    @include mobileScreen2 {
      height: 25px;
      margin-bottom: 0px;
    };
    @include xSmallScreen2 {
      height: 25px;
      margin-bottom: 0px;
    };
    p {
      margin-bottom: 0px;
    }
  }
  p {
    margin-bottom: 10px;
  }
  @include smallMobileScreen2 {
    @include span-columns(12, block-collapse);
    margin-bottom: 15px;
  };
  @include mobileScreen2 {
    @include span-columns(12, block-collapse);
    margin-bottom: 15px;
  };
  @include xSmallScreen2 {
    @include span-columns(12, block-collapse);
    margin-bottom: 15px;
  };
}

#mobileSwap {
  @include smallMobileScreen2 {display: none;};
  @include mobileScreen2 {display: none;};
  @include xSmallScreen2 {display: none;};
}

#regularSwap {
  @include smallScreen2 {display: none;};
  @include smallMedScreen2 {display: none;};
  @include medScreen2 {display: none;};
  @include lgScreen2 {display: none;};
  @include XLScreen2 {display: none;};
  @include XXLScreen2 {display: none;};
}

.section3V2ColumnBorder {
  @include span-columns(4, block-collapse);
  @include pad(0px 30px);
  @include lgScreen2 {padding: 0 60px;};
  @include XLScreen2 {padding: 0 60px;};
  @include XXLScreen2 {padding: 0 60px;};
  margin-top: 10px;
  border-left: 1px solid $whiteGrey;
  border-right: 1px solid $whiteGrey;
  .wrapper {
    margin-top: -10px;
    margin-bottom: -10px;
    // @include smallMobileScreen2 {
    //   margin-top: 0px;
    //   margin-bottom: 0px;
    // };
    // @include mobileScreen2 {
    //   margin-top: 0px;
    //   margin-bottom: 0px;
    // };
    // @include xSmallScreen2 {
    //   margin-top: 0px;
    //   margin-bottom: 0px;
    // };
  }
  .section3V2ColumnTitle {
    position: relative;
    height: 40px;
    margin-bottom: 5px;
    @include smallMobileScreen2 {
      margin-bottom: 0;
      height: 30px;
    };
    @include mobileScreen2 {
      margin-bottom: 0;
      height: 30px;
    };
    @include xSmallScreen2 {
      margin-bottom: 0;
      height: 30px;
    };
    p {
      margin-bottom: 0px;
    }
  }
  p {
    position: relative;
    margin-bottom: 10px;
    @include smallMobileScreen2 {
      margin-bottom: 20px;
    };
    @include mobileScreen2 {
      margin-bottom: 20px;
    };
    @include xSmallScreen2 {
      margin-bottom: 20px;
    };
  }
  @include smallMobileScreen2 {
    @include span-columns(12, block-collapse);
    border-left: none;
    border-right: none;
  };
  @include mobileScreen2 {
    @include span-columns(12, block-collapse);
    border-left: none;
    border-right: none;
  };
  @include xSmallScreen2 {
    @include span-columns(12, block-collapse);
    border-left: none;
    border-right: none;
  };
}

.section4 {
  position: relative;
  height: auto;
  // border: 4px solid black;
}

.section4Wrapper {
  position: relative;
  width: 100%;
  // height: 100%;
  // border: 3px solid red;
}

.section4Text {
  position: absolute;
  z-index: 1;
  top: 20%;
  left: 5%;
  width: 90%;
  text-align: center;
  // border: 2px solid purple;
}


.section4ImgBox {
  width: 100%;
  overflow: hidden;
  // border: 1px solid green;
  img {
    display: block;
    width: 100%;
    height: auto;

    // border: 1px solid yellow;
  }
}
